
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("images/net\ 1.jpg");
    background-position: center center;
    height: 90vh;
}
nav{
    max-width: 350vh;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    
}
.hero> :nth-child(2){
    font-weight: 900;
    font-size: 48px;
}
.hero> :nth-child(3){
    font-weight: 700;
    font-size: 24px;
}
.hero> :nth-child(4){
    font-weight: 500;
    font-size: 23px;
}
.line{
    height: 10px ;
    background-color: rgb(32, 29, 29);
}
.btn{
    padding: 5px 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.btn-red{
    background-color: red;
    border: 1px ;
    padding: 15px 24px;
    font-size: 20px;
    border-radius: 5px;
}
.btn-red-sm{
    background-color: red;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main input{
    padding: 13px 24px ;
    background-color: rgba(30, 30, 30,0.7);
    color: white;
    font-size: 20px;
    opacity: 0.2px;
    border-radius: 5px;
    border: 0.2px solid rgb(160, 140, 140);
}